@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
html {
  overflow-y: scroll;
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #222;
  scrollbar-arrow-color: #222;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #222;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}


$color-pack: false;
$headings: (
 	'h5': (
      'line-height': 1.818rem,
    ),
  	'body-1': (
      'size': 1.05rem,
      'line-height': 1.618rem,
      'letter-spacing': 0.03125rem,

    ),
	);
$material-dark: (
  'background': #11120e,
	'text': (
		'secondary': #fff,
	),

);
$body-font-family: 'Roboto Slab';
// $title-font: 'Roboto';
$heading-font-family: 'Roboto Condensed';
$font-size-root: 1.0em ;
.v-application{
	a{
		color: #80d0ff 	!important;
		text-decoration: none;
	}
	a:hover {
		color: #ffdf80 	!important;
	}
}
 

  
  